git+https://github.com/ai92-github/llm-reader.git
selenium
playwright
google-colab-selenium
requests
beautifulsoup4
linkedin-api
nest_asyncio
tiktoken
matplotlib
langchain
langchain_core
langchain-community
langserve[all]
langchain-cli
langchain_openai
langchain-anthropic
langserve
langchainhub
langchain_experimental
unstructured[md]
openai
anthropic
grandalf
sentence_transformers
matplotlib
pandas
numpy
python-dotenv